<div class="contenedor-seccion container mb-5">

  <div *ngIf="carritoService.obtenerCantidadTotal() > 0">

    <div class="table-responsive shadow-sm rounded">
      <table class="table table-hover table-bordered align-middle table-sm mb-0">
        <thead class="table-dark text-center">
        <tr>
          <th>{{ 'CARRITO.NOMBRE' | translate }}</th>

          <th class="d-none d-md-table-cell">{{ 'CARRITO.PRECIO' | translate }}</th>

          <th>{{ 'CARRITO.CANTIDAD' | translate }}</th>
          <th>{{ 'CARRITO.IMPORTE' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let producto of carrito" class="text-center">

          <td class="text-start text-md-center fw-bold">{{ producto.articulo.nombre }}</td>

          <td class="d-none d-md-table-cell">
            <strong>{{ producto.articulo.precio | currency:'EUR' }}</strong>
          </td>

          <td>
            <div class="d-flex justify-content-center align-items-center gap-2">
              <button class="btn btn-sm boton-td-red p-1"
                      (click)="carritoService.reducirCantidad(producto.articulo.id)"
                      [disabled]="producto.cantidadCompra === 0">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                  <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8" />
                </svg>
              </button>

              <span class="fw-bold fs-6" style="min-width: 20px;">{{ producto.cantidadCompra }}</span>

              <button class="btn btn-sm boton-td-green p-1" (click)="carritoService.aumentarCantidad(producto.articulo.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                  <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                </svg>
              </button>
            </div>
          </td>

          <td class="fw-bold text-success">{{ producto.cantidadCompra * producto.articulo.precio | currency:'EUR'}}</td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="2" class="text-end fw-bold d-md-none">{{ 'CARRITO.TOTAL' | translate }}</td>
          <td colspan="3" class="text-end fw-bold d-none d-md-table-cell">{{ 'CARRITO.TOTAL' | translate }}</td>

          <td class="fw-bold bg-warning bg-opacity-25">{{ calcularTotal() | currency }}</td>
        </tr>
        </tfoot>

      </table>
    </div>

    <div *ngIf="mostrarFormulario" class="mt-5 mx-auto w-100 w-md-75">

      <div class="d-flex flex-column flex-md-row gap-2 align-items-stretch justify-content-center bg-light p-3 rounded shadow-sm border">

        <button class="btn btn-warning" (click)="vaciarCarrito()">
          {{ 'CARRITO.VACIAR' | translate }}
        </button>

        <select class="form-select" [(ngModel)]="tipoDocumento">
          <option selected>{{ 'CARRITO.SELECCIONAR' | translate }}</option>
          <option value="NIE">NIE</option>
          <option value="DNI">DNI</option>
        </select>

        <input type="text" class="form-control"
               placeholder="{{ 'CARRITO.PLACEHOLDER_ID' | translate }}"
               [(ngModel)]="identificacion" required>

        <button class="btn btn-success fw-bold" type="button" (click)="Completar()">
          {{ 'CARRITO.PAGAR' | translate }}
        </button>
      </div>
    </div>

    <div *ngIf="!mostrarFormulario" class="mt-4 d-flex flex-column flex-md-row justify-content-center align-items-center gap-3">
      <button class="btn btn-warning w-100 w-md-auto" (click)="vaciarCarrito()">
        {{ 'CARRITO.VACIAR' | translate }}
      </button>
      <button class="btn btn-success w-100 w-md-auto" (click)="showform()">
        {{ 'CARRITO.COMPLETAR' | translate }}
      </button>
    </div>

  </div>

  <div *ngIf="carritoService.obtenerCantidadTotal() <= 0">
    <div class="img_vacio">
      <img src="assets/images/v_1.png" alt="Carrito vacío">
    </div>
  </div>

</div>
