
.carrito-container{
    margin-top: 8%;
}
td, th {
  vertical-align: middle !important;
}
.boton-td-red svg:hover{
    background-color: #DC3545;
    border-radius: 100%;

}
.boton-td-green svg:hover{
    background-color: #198754;
    border-radius: 100%;

}
/* Contenedor: Mantiene el centrado perfecto (esto no cambia) */
.img_vacio {
  display: flex;
  justify-content: center; /* Centrado horizontal */
  align-items: center;     /* Centrado vertical */
  height: 80vh;            /* Altura del área disponible */
  width: 100%;
}

/* Imagen: Aumentamos el tamaño máximo */
.img_vacio img {
  /* CAMBIO AQUÍ: Aumentamos el límite para que se vea más grande */
  max-width: 600px;

  width: 100%;      /* Esto asegura que se encoja bien en pantallas pequeñas */
  height: auto;     /* Mantiene la proporción para que no se deforme */
  border-radius: 5px;
  margin: 0;
}
