<div class="container mt-5 mb-5">

  <div class="table-responsive shadow-sm rounded">
    <table class="table table-light table-striped table-hover mb-0">
      <thead class="text-center table-dark"> <tr>
        <th>Nombre-Producto</th>
        <th>Cantidad</th>
        <th>Importe Devuelto</th>
        <th>Responsable</th>
        <th>Fecha</th>
        <th>Hora</th>
      </tr>
      </thead>
      <tbody class="text-center table-group-divider">

      <tr *ngFor="let item of paginatedCancelaciones">
        <td class="fw-italic">{{ item.nombreProducto }}</td>
        <td>
         {{ item.cantidad }}
        </td>
        <td class="text-danger fw-bold">-{{ item.importe | currency:'EUR' }}</td>
        <td>{{ item.responsable }}</td>
        <td>{{ item.fecha | date:'dd/MM/yyyy' }}</td>
        <td>{{ item.fecha | date:'HH:mm' }}</td>
      </tr>

      <tr *ngIf="paginatedCancelaciones.length === 0">
        <td colspan="6" class="py-4 text-muted">
          No hay registros de cancelaciones.
        </td>
      </tr>

      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-end align-items-center mt-3" *ngIf="cancelaciones.length > 0">

    <div class="d-flex align-items-center gap-2">
      <button class="btn btn-outline-primary"
              (click)="changePage(currentPage - 1)"
              [disabled]="currentPage === 1">
        ⬅ Anterior
      </button>

      <span class="fw-bold text-dark bg-light px-3 py-2 rounded border">
                Página {{ currentPage }} de {{ totalPages }}
            </span>

      <button class="btn btn-outline-primary"
              (click)="changePage(currentPage + 1)"
              [disabled]="currentPage === totalPages">
        Siguiente ➡
      </button>
    </div>

  </div>

</div>
